.App {
  background-color: var(--primary-color);
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
.nav{
  text-align: center;
}
.nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav ul li{
  margin: 0 2rem;
}
.main {
  flex: 1;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
