.App {
  background: var(--bg);
  /* padding: 0 2rem; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: var(--white);
}

.logo {
  color: var(--white);
  text-decoration: none;
  margin-top: 1rem;
  font-size: 3.3rem;
}

.nav {
  text-align: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin: 0 2rem;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  text-align: center;
  margin-bottom: 2rem;
}