.App {
  background: var(--bg);
  display: grid;
  align-content: space-between;
  min-height: 100vh;
  flex-direction: column;
  color: var(--white);
}

.logo {
  color: var(--white);
  text-decoration: none;
  margin-top: 1rem;
  font-size: 3.3rem;
}
.App header {
  background: linear-gradient(180deg, #00000050 30%, #00000000 100%);
  padding: 3rem 1.5rem;
}
.nav {
  text-align: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin: 0 2rem;
}

.footer{
  text-align: center;
  z-index: 10;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#0F2E66;
  height: min-content;
}