.contenedorBg {
  /* backdrop_path (imagen de fondo) */
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  opacity: 0.3;
}
.contenedor {
  display: flex;
  padding: 0 2rem;
  max-height: 55rem;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
}
.contenedor figure {
  width: 30%;
  display: flex;
  justify-content: center;
}

.contenedor figure img {
  border-radius: 5px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.contenedorDescripcion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.titulo {
  font-size: 5rem;
}
.detallePelicula {
  /* 2022-12-01 [NO] ● Fantasy, Action, Adventure ● duracion */
  color: #cecece;
  display: flex;
  font-size: large;
}
.puntuacion {
  margin: 2rem 0;
  font-size: medium;
}
.rating{
  /* boton puntuacion de pelicula */
    font-size: 16px;
    background: #447CAD;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -1px;
    width: 2em;
    height: 1.6em;
    line-height: 1.6em;
    margin: 0 auto;
    border-radius: 0.3em;
    box-sizing: border-box;
    border: 1px solid #447CAD;
    font-weight: normal;
    display: inline-block;
    margin-right: 5px;
}
.descripcion {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
.descripcion p {
    font-size: large;
}
.descripcion strong {
    font-size: 2rem;
}
.cita{
    font-size: large;
    color: #cecece;
    padding: 2rem 0;
}
.descripcionDirectores{
    display: flex;
    font-size: medium;
}
.descripcionDirectores div{
    margin-right: 3rem;
}
.descripcionDirectores b{
    font-weight: bold;
}

.descripcionDirectores p{
    font-family: 1.2rem;
    font-weight: lighter;
}

.btnDescargarInfo {
  font-size: 1.5rem;
  border: 1px solid;
  margin-top: 8rem;
  
}
.trailer{
  display: flex;
  justify-content: center;
}
.trailerBox{
  padding: 0 2rem;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;

}

.SocialReview{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*medias clearqueries  */

/* ipad pro 11 */
@media (max-width: 835px) {
 .containerPrincipal{
    min-height:120rem ;
  }
  .contenedorBg {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
    opacity: 0.3;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    position: absolute;
    z-index: 10;
    top: 20rem;
    right: 0;
    left: 0;
    color: white;
  }
  .detallePelicula {
    /* 2022-12-01 [NO] ● Fantasy, Action, Adventure ● duracion */
    color: #cecece;
    display: flex;
    font-size: large;
    width: 100%;
  }
  .descripcion{
    text-align: justify;
    width: 100%;
  }
  .descripcionDirectores{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  .contenedorDescripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
   .titulo{
    font-size: xx-large;
  }
  .contenedor figure{
    width: 100%;
  }
  .contenedor figure img{
    width: 100%;
  }

  .btnDescargarInfo{
    margin-top: 2rem;
  }
  .trailer{
    padding: 1rem;
  }
  .trailerBox{
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    padding: 0 1rem;
  }
  .SocialReview{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
/* ipad mini */
@media (max-width: 768px) {
 .containerPrincipal{
    min-height:120rem ;
  }
  .contenedorBg {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
    opacity: 0.3;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    position: absolute;
    z-index: 10;
    top: 20rem;
    right: 0;
    left: 0;
    color: white;
  }
  .detallePelicula {
    /* 2022-12-01 [NO] ● Fantasy, Action, Adventure ● duracion */
    color: #cecece;
    display: flex;
    font-size: large;
    width: 100%;
  }
  .descripcion{
    text-align: justify;
    width: 100%;
  }
  .descripcionDirectores{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  .contenedorDescripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .contenedor figure{
    width: 100%;
  }
  .contenedor figure img{
    width: 100%;
  }
  .btnDescargarInfo{
    margin-top: 2rem;
  }
  .trailer{
    padding: 1rem;
  }
  .trailerBox{
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    padding: 0 1rem;
  }
  .SocialReview{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
/* mobile */
@media (max-width: 600px) {
  .contenedorBg {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
    opacity: 0.3;
  }
  .contenedor {
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    position: absolute;
    z-index: 10;
    top: 20rem;
    right: 0;
    left: 0;
    color: white;
  }
  .detallePelicula {
    color: #cecece;
    display: flex;
    font-size: large;
    width: 100%;
  }
  .descripcion{
    text-align: justify;
    max-height: 15rem;
    width: 100%;
  }
  .descripcion div{
    overflow:auto;
  }
  .descripcionDirectores{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  .contenedorDescripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .titulo{
    font-size: x-large;
  }
  .contenedor figure img{
    width: 100%;
  }
  
  .btnDescargarInfo{
    margin-top: 2rem;
  }
  .trailer{
    padding: 1rem;
  }
  .trailerBox{
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    padding: 0 1rem;
  }
  .SocialReview{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
