.container{
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  font-size: var(--FontSize-m);
}
.copyright{
  font-size: var(--FontSize-s);
  margin: .5rem 0;
}
.divisor{
  margin: 0 1rem;
}
.link{
  text-decoration: underline;
}


@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}