header span {
  padding: 2rem;
  display: flex;
}

.link{
  text-decoration: none;
  padding: 5px 10px;
  color: rgb(189, 189, 189);
}

.link:hover {
  color: var(--white);
}

.perfil {
  padding: 0px 10px;
}
.perfil a {
  color:rgb(189, 189, 189);
}

.perfil a:hover {
  color: white;
}

.perfil div {
  padding: 1rem 0;
  box-shadow: 0.5px 0.5px 3px #00163dc4;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #13131375 40%, #13131344 100%);
}

.perfil div:hover {
  box-shadow: inset 0.5px 0.5px 1px #00163fc4, 1px 1px 3px #00143ac4;
}

.logOut:hover,
.nombre:hover {
  background-color: transparent;
  letter-spacing: 0.5px;
  filter: drop-shadow(0.5px 0.5px 0.5px rgb(193, 193, 193));
}

.menu {
  background: rgba(34, 34, 34, 0.4);
}

.menu button {
  filter: invert(100%);
}