.profileContainers {
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.5rem;
}

.title {
  font-size: 2.3rem;
  text-align: center;
}

.profileIcon {
  width: 100%;
  font-size: 100px;
}

.infoContainer {
  margin: 2rem 0;
}

.bold {
  font-weight: bold;
}

.button {
  background: var(--white);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  font-weight: bolder;
}

.button:hover {
  background: white;
  box-shadow: 1px 1px 3px rgb(49, 48, 48);
}

/** Alert Styles */
.alertContainer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
}

.alert {
  background-color: #00163f;
  color: white;
  font-size: 16px;
  margin: auto;
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.alert span {
  display: block;
}

.alertInput {
  background-color: white;
  border-radius: 10px;
  width: 80vw;
  max-width: 400px;
  border: none;
  display: block;
  padding: 1rem;
  text-align: center;
  margin: 1rem 0;
}

.alertButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.alertButton {
  padding: 0.5rem;
  background-color: white;
  color: rgb(59, 59, 59);
  border: none;
  border-radius: 10px;
  min-width: 100px;
}

.alertButton:hover {
  background-color: white;
  color: rgb(13, 13, 13);
  box-shadow: 1px 1px 3px rgb(184, 184, 184);
}
