.form{
    padding: 6rem 4rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.5rem;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}
.signup h2{
    font-size: 2.3rem;
}
.input{
    margin-bottom: 2rem;
}
.inputPassword{
    margin-bottom: 1rem;
}
.btnLink{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.signup{
    color: var(--white);
    text-decoration: none;
    margin-bottom: 2rem;
}
.signup:hover{
    color: white;
}
.btn{
    margin: 0 auto;
    background: var(--white);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    font-size: 1.5rem;
    font-weight: bolder;
}
.btn:hover{
    background: white;
    box-shadow: 1px 1px 3px rgb(49, 48, 48);
}