.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.container h2 {
  font-size: medium;
  margin: 2rem 0;
}
.container iframe {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  aspect-ratio: 16/9;
  width: 100%;
}


/* ipad 11 */
@media (max-width: 835px) {
  .container {
    width: 100%;
  }
  .container iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
}


/* ipad mini */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

/* mobile */
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .container h2 {
    display: none;
  }
  .container iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
