.peliculaCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.peliculaImg {
    border-radius: 5px;
    background-color: azure;
}

.peliculaCard:hover {
    opacity: 0.8;
}

.peliculaTitulo {
    color: whitesmoke;
}

@media (max-width: 560px) {
    .peliculaImg {
        width: 90%;
        height: auto;
    }
}